/********** Template CSS **********/
:root {
    --primary: #5B8C51;
    --secondary: #EDDD5E;
    --light: #F7F7F7;
    --dark: #000;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

.fw-bold {
    font-weight: 700 !important;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 500 !important;
}



/*--------------------------------------------------------------
# Spinner
--------------------------------------------------------------*/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*--------------------------------------------------------------
# Button
--------------------------------------------------------------*/
.btn {
    transition: .5s;
    font-weight: 500;
}

.btn-primary,
.btn-outline-primary:hover {
    color: var(--light);
}

.btn-secondary,
.btn-outline-secondary:hover {
    color: #fff;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 44px;
    height: 44px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*--------------------------------------------------------------
# Recent News Posts
--------------------------------------------------------------*/
.recent-news-posts .post-item {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.06);
  transition: 0.3s;
}

.recent-news-posts .post-item .post-img img {
  transition: 0.5s;
}

.recent-news-posts .post-item .post-date {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #B1C900;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  padding: 6px 12px;
  font-weight: 500;
}

.recent-news-posts .post-item .post-content {
  padding: 30px;
  background-color: #fff;
}

.recent-news-posts .post-item .post-title {
  font-size: 24px;
  color: #000;
  font-weight: 700;
  transition: 0.3s;
  margin-bottom: 15px;
}

.recent-news-posts .post-item .meta i {
  font-size: 16px;
  color: #B1C900;
}

.recent-news-posts .post-item .meta span {
  font-size: 15px;
  color: #777;
}

.recent-news-posts .post-item hr {
  color: #888;
  margin: 20px 0;
}

.recent-news-posts .post-item .readmore {
  display: flex;
  align-items: center;
  font-weight: 600;
  line-height: 1;
  transition: 0.3s;
  color: #000;
}

.recent-news-posts .post-item .readmore i {
  line-height: 0;
  margin-left: 6px;
  font-size: 16px;
}

.recent-news-posts .post-item:hover .post-title,
.recent-news-posts .post-item:hover .readmore {
    color: #B1C900;
}

.recent-news-posts .post-item:hover .post-img img {
  transform: scale(1.1);
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}


/*--------------------------------------------------------------
# News
--------------------------------------------------------------*/
.news .entry {
  padding: 30px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.news .entry .entry-img {
  max-height: 440px;
  margin: -30px -30px 20px -30px;
  overflow: hidden;
}

.news .entry .entry-title {
  font-size: 28px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 20px 0;
}

.news .entry .entry-title a {
  color: #000;
  transition: 0.3s;
}

.news .entry .entry-title a:hover {
  color: #B1C900;
}

.news .entry .entry-meta {
  margin-bottom: 15px;
  color: #777777;
}

.news .entry .entry-meta ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.news .entry .entry-meta ul li+li {
  padding-left: 20px;
}

.news .entry .entry-meta i {
  font-size: 16px;
  margin-right: 8px;
  line-height: 0;
  color: #B1C900;
}

.news .entry .entry-meta a {
  color: #777777;
  font-size: 15px;
  display: inline-block;
  line-height: 1;
}

.news .entry .entry-content p {
  line-height: 24px;
  font-size: 19px;
}

.news .entry .entry-content h3 {
  font-size: 22px;
  margin-top: 30px;
  font-weight: bold;
}

.news .entry .entry-footer {
  padding-top: 10px;
  border-top: 1px solid #e6e6e6;
}

.news .entry .entry-footer i {
  color: #B1C900;
  display: inline;
}

.news .entry .entry-footer a {
  color: #777;
  transition: 0.3s;
}

.news .entry .entry-footer .cats {
  list-style: none;
  display: inline;
  padding: 0 20px 0 0;
  font-size: 14px;
}

.news .entry .entry-footer .cats li {
  display: inline-block;
}

.news .entry .entry-footer .tags {
  list-style: none;
  display: inline;
  padding: 0;
  font-size: 14px;
}

.news .entry .entry-footer .tags li {
  display: inline-block;
}

.news .entry .entry-footer .tags li+li::before {
  padding-right: 6px;
  color: #6c757d;
  content: ",";
}

.news .entry .entry-footer .share {
  font-size: 16px;
}

.news .entry .entry-footer .share i {
  padding-left: 5px;
}

.news .entry-single {
  margin-bottom: 30px;
}

.news .news-author {
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.news .news-author img {
  width: 120px;
  margin-right: 20px;
}

.news .news-author h4 {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 0px;
  padding: 0;
  color: #111111;
}

.news .news-author .social-links {
  margin: 0 10px 10px 0;
}

.news .news-author .social-links a {
  color: rgba(17, 17, 17, 0.5);
  margin-right: 5px;
}

.news .news-author p {
  font-style: italic;
  color: #b7b7b7;
}

.news .news-pagination {
  color: #444444;
}

.news .news-pagination ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.news .news-pagination li {
  margin: 0 5px;
  transition: 0.3s;
}

.news .news-pagination li a {
  color: #111111;
  padding: 7px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news .news-pagination li.active,
.news .news-pagination li:hover {
  background: #e03a3c;
}

.news .news-pagination li.active a,
.news .news-pagination li:hover a {
  color: #fff;
}

.news .sidebar {
  padding: 30px;
  margin: 0 0 60px 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.news .sidebar .sidebar-title {
  font-size: 20px;
  font-weight: 700;
  padding: 0 0 0 0;
  margin: 0 0 15px 0;
  color: #000;
  position: relative;
}

.news .sidebar .sidebar-item {
  margin-bottom: 30px;
}

.news .sidebar .search-form form {
  background: #fff;
  border: 1px solid #ddd;
  padding: 3px 10px;
  position: relative;
}

.news .sidebar .search-form form input[type=text] {
  border: 0;
  padding: 4px;
  border-radius: 4px;
  width: calc(100% - 40px);
}

.news .sidebar .search-form form button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 15px;
  margin: -1px;
  background: #e03a3c;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  line-height: 0;
}

.news .sidebar .search-form form button i {
  line-height: 0;
}

.news .sidebar .search-form form button:hover {
  background: #e34c4d;
}

.news .sidebar .categories ul {
  list-style: none;
  padding: 0;
}

.news .sidebar .categories ul li+li {
  padding-top: 10px;
}

.news .sidebar .categories ul a {
  color: #111111;
  transition: 0.3s;
}

.news .sidebar .categories ul a:hover {
  color: #e03a3c;
}

.news .sidebar .categories ul a span {
  padding-left: 5px;
  color: #aaaaaa;
  font-size: 14px;
}

.news .sidebar .recent-posts .post-item+.post-item {
  margin-top: 15px;
}

.news .sidebar .recent-posts img {
  width: 80px;
  float: left;
}

.news .sidebar .recent-posts h4 {
  font-size: 15px;
  margin-left: 95px;
  font-weight: bold;
}

.news .sidebar .recent-posts h4 a {
  color: #111111;
  transition: 0.3s;
}

.news .sidebar .recent-posts h4 a:hover {
  color: #e03a3c;
}

.news .sidebar .recent-posts time {
  display: block;
  margin-left: 95px;
  font-style: italic;
  font-size: 14px;
  color: #aaaaaa;
}

.news .sidebar .tags {
  margin-bottom: -10px;
}

.news .sidebar .tags ul {
  list-style: none;
  padding: 0;
}

.news .sidebar .tags ul li {
  display: inline-block;
}

.news .sidebar .tags ul a {
  color: #515151;
  font-size: 14px;
  padding: 6px 14px;
  margin: 0 6px 8px 0;
  border: 1px solid #c4c4c4;
  display: inline-block;
  transition: 0.3s;
}

.news .sidebar .tags ul a:hover {
  color: #fff;
  border: 1px solid #e03a3c;
  background: #e03a3c;
}

.news .sidebar .tags ul a span {
  padding-left: 5px;
  color: #aaaaaa;
  font-size: 14px;
}


/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
.fixed-top {
    transition: .5s;
}

.top-bar {
    height: 45px;
    border-bottom: 1px solid rgba(0, 0, 0, .07);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
    padding: 25px 15px;
    color: #fff;
    font-weight: 500;
    outline: none;
}


@media (max-width: 991.98px) {
    .navbar .navbar-nav {
        margin-top: 10px;
        border-top: 1px solid rgba(0, 0, 0, .07);
        background: #000;
    }

    .navbar .navbar-nav .nav-link {
        padding: 10px 0;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: .5s;
        opacity: 0;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}

/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, .1);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    background-color: var(--primary);
    border: 10px solid var(--primary);
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }

    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-header {
    padding-top: 12rem;
    padding-bottom: 6rem;
    background-color: #B1C900;
    background-size: cover;
}

.page-header-contato {
    padding-top: 12rem;
    padding-bottom: 6rem;
    background-color: #B1C900;
    background: url(../img/banner-2.jpg) top right no-repeat;
    background-position: center 20%;
    background-size: cover;
}

.page-header-produtos {
    padding-top: 12rem;
    padding-bottom: 6rem;
    background-color: #B1C900;
    background: url(../img/banner.jpg) top right no-repeat;
    background-size: cover;
}

.page-header-news {
    padding-top: 12rem;
    padding-bottom: 6rem;
    background-color: #B1C900;
    background: url(../img/banner-3.jpg) top right no-repeat;
    background-position: center 40%;
    background-size: cover;
}


/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.cta {
  background: linear-gradient(90deg, #008352 0%, #B1C900 100%), url("../img/counts-bg.png") center center no-repeat;
  padding: 80px 0;
}

.cta h3 {
  color: #fff;
  font-size: 35px;
  font-weight: 700;
}

.cta p {
  color: #fff;
}

.cta .cta-btn {
  font-family: "Gotham-Medium", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 30px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  background: #ef6603;
}

.cta .cta-btn:hover {
  background: #fff;
  color: #ef6603;
}

@media (max-width: 1024px) {
  .cta {
    background-attachment: scroll;
  }
}

@media (min-width: 769px) {
  .cta .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}


/*--------------------------------------------------------------
# Section Title
--------------------------------------------------------------*/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 5px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 6px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about-experience {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.service-item {
    position: relative;
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
}

.service-item .service-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.service-item .service-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    object-fit: cover;
}

.service-item .service-img::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
}

.service-item .service-img::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #FFFFFF;
    transition: .5s ease-out;
    z-index: 2;
}

.service-item:hover .service-img::after {
    width: 0;
    left: auto;
    right: 0;
}

.service-item .service-text .service-icon {
    width: 100px;
    height: 100px;
    padding: 15px;
    overflow: hidden;
}

.service-item .service-text h5,
.service-item .service-text p {
    transition: .5s;
}

.service-item:hover .service-text h5,
.service-item:hover .service-text p {
    color: #FFFFFF;
}

.service-item .service-text .readmore {
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: 1;
    transition: 0.3s;
    color: #000;
}

.service-item .service-text .readmore:hover {
    color: #008352;
}


/*--------------------------------------------------------------
# Historic
--------------------------------------------------------------*/
.historic .portfolio-content {
  position: relative;
  overflow: hidden;
}

.historic .portfolio-content img {
  transition: 0.3s;
}

.historic .portfolio-content .portfolio-info {
  opacity: 0;
  position: absolute;
  inset: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: rgba(0, 0, 0, 0.6);
  padding: 15px;
}

.historic .portfolio-content .portfolio-info h4 {
  font-size: 14px;
  padding: 5px 10px;
  font-weight: 400;
  color: #fff;
  display: inline-block;
  background-color: var(--color-primary);
}

.historic .portfolio-content .portfolio-info p {
  position: absolute;
  bottom: 10px;
  text-align: center;
  display: inline-block;
  left: 0;
  right: 0;
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
}

.historic .portfolio-content .portfolio-info .preview-link,
.historic .portfolio-content .portfolio-info .details-link {
  position: absolute;
  left: calc(50% - 40px);
  font-size: 26px;
  top: calc(50% - 14px);
  color: #fff;
  transition: 0.3s;
  line-height: 1.2;
}

.historic .portfolio-content .portfolio-info .preview-link:hover,
.historic .portfolio-content .portfolio-info .details-link:hover {
  color: var(--color-primary);
}

.historic .portfolio-content .portfolio-info .details-link {
  left: 50%;
  font-size: 34px;
  line-height: 0;
}

.historic .portfolio-content:hover .portfolio-info {
  opacity: 1;
}

.historic .portfolio-content:hover img {
  transform: scale(1.1);
}


/*--------------------------------------------------------------
# Products
--------------------------------------------------------------*/
.product-item {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
}

.product-item .product-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    padding-top: 60px;
    transition: .5s;
}

.product-item:hover .product-overlay {
    opacity: 1;
    padding-top: 0;
}

.product-item {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
}

.product-item .product-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    padding-top: 60px;
    transition: .5s;
}

.product-item:hover .product-overlay {
    opacity: 1;
    padding-top: 0;
}


/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team-item {
    position: relative;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
}

.team-item .btn {
    border-color: transparent;
    box-shadow: 0 0 45px rgba(0, 0, 0, .2);
}


/*--------------------------------------------------------------
# Partners
--------------------------------------------------------------*/
.owl-partners {
    padding: 0 45px;
    height: 95px;
    text-align: center;
}

.owl-partners .logo-partners {
    height: 95px;
    display: table;
    width: 100%;
}

.owl-partners .item {
    display: table-cell;
    vertical-align: middle;
}

.area-partners {
    background-color: #FFF;
    width: 100%;
    display: block;
    overflow: hidden;
}
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  padding: 30px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.contact .info i {
  font-size: 20px;
  color: #008352;
  float: left;
  width: 44px;
  height: 44px;
  background: #f2f9f8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h5 {
  padding: 0 0 0 60px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #000;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 16px;
  color: #777777;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #008352;
  color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #008352;
  color: #fff;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
    color: #DCDCDC;
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #DCDCDC;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--light);
    letter-spacing: 1px;
    box-shadow: none;
}
